.protocol-list-container {
    padding: 20px;
    margin-left: 120px;
    margin-right: 120px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;

}

.page-title {
    margin-bottom: 40px;
    margin-top: 20px;
}

.table-container {
    overflow-x: auto;
    margin: 30px;
}

.protocol-list {
    width: 70%;
    border-collapse: collapse;
    margin-top: 10px;

    margin-left: auto;
    margin-right: auto;
}

.protocol-list th,
.protocol-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
}

.protocol-list th {
    background-color: #f1f1f1;
}

.protocol-list tr:nth-child(even) {
    background-color: #dfdede91;
}

.protocol-list tr:hover {
    background-color: #f0f0f0;
}

.dropdown-item {
    background-color: #ffffff;
    color: #066ad4;

    border: 1px solid #066ad4;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-bottom: 20px;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #066ad4;
    color: #fff;
    border-color: #fff;
}

.btn-secondary {
    display: none;
}




@media only screen and (max-width: 600px) {
    .protocol-list-container {
        margin: 10px;
        padding: 5px;

        flex-direction: column;
    }

    .dropdown-item {
        margin: 4px;
        padding: 10px;
    }

}