.widget-container {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 50px 80px;
    position: relative;
}

.widget {
    padding: 30px;
    text-align: center;
}

.widget input {
    width: 30%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.search-container {
    align-items: center;
}

.widget input {
    flex: 1;
}

.search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-left: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}


.search-button i {
    font-size: 16px;
}

.second-widget-container {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 40px 80px 40px 80px;
    position: relative;
}

.second-widget {
    padding: 30px 200px;
    text-align: center;
}

.menu-options {
    list-style: none;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-options li {
    border: 1px solid #066ad4;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-options li:hover {
    background-color: #066ad4;
}

.menu-options i,
.menu-options a {
    color: #066ad4;
    text-decoration: none;
}

.menu-options li:hover i,
.menu-options li:hover a {
    color: #fff;
}



@media only screen and (max-width: 600px) {
    .widget-container {
        margin: 10px;
    }

    .widget input {
        width: 80%;
    }

    .second-widget-container {
        margin: 10px;
    }

    .second-widget {
        padding: 10px;
    }

    .menu-options {
        padding: 0;
    }
}